/*Marker clusters*/
.marker-cluster-pie-label {
  fill: #fff;
  text-shadow: Black 0 0 2px, Black 0 0 2px, Black 0 0 2px, Black 0 0 2px;
  font: 14px sans-serif;
}

/*Markers*/
.marker {
  width: 18px;
  height: 18px;
  border-width: 2px;
  border-radius:10px;
  margin-top: -10px;
  margin-left: -10px;
  border-style: solid;
  fill: #CCC;
  stroke: #444;
  background: #CCC;
  border-color: #444;
}
.marker div{
  text-align: center;
  font: bold 14px sans-serif;
}

/*marker categories*/
.category-Акация	{fill: mediumpurple;	stroke: #444}
.category-Барбарис	{fill: maroon;	stroke: #444}
.category-Берёза	{fill: lime;	stroke: #444}
.category-Вяз		{fill: green;	stroke: #444}
.category-Дуб		{fill: white;	stroke: #444}
.category-Ива		{fill: pink;	stroke: #444}
.category-Клён		{fill: brown;	stroke: #444}
.category-Лапчатка	{fill: teal;	stroke: #444}
.category-Липа		{fill: yellow;	stroke: #444}
.category-Лиственница	{fill: olive;	stroke: #444}
.category-Ольха		{fill: magenta;	stroke: #444}
.category-Осина		{fill: purple;	stroke: #444}
.category-Рябина	{fill: red;	stroke: #444}
.category-Тополь	{fill: cyan;	stroke: #444}
.category-Яблоня	{fill: orange;	stroke: #444}
.category-Ясень		{fill: blue;	stroke: #444}
.category-Другие	{fill: gray;	stroke: #444}

/*Popup*/
.map-popup span.heading {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.map-popup span.attribute {
  display: block;
}
.map-popup span.label {
  font-weight: bold;
}
